<!DOCTYPE html>
<html lang="en" ng-app="bankAppOnline">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Apply Online</title>

	<meta name="description" content="">
	<meta name="author" content="">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

</head>
<body ng-controller="CustomerCtrl">

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">ABC Banking Corp.</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Link</a>
						</li>
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control">
						</div>
						<button type="submit" class="btn btn-default">
							Submit
						</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
		</div>
	</div>
	<div class="row">
		<div ng-switch="step" class="col-sm-offset-4 col-md-4 col-sm-offset-4">
			<div ng-switch-when="1" ng-controller="firstformCtrl">
				<form class="form-horizontal" name="firstform" role="form">
					<div class="form-group">
						<label class="control-label col-sm-3" for="firstname" >First name:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="firstname" ng-model="customer.firstname" placeholder="Enter First name" required >
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="lastname" >Last name:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="lastname" ng-model="customer.lastname" placeholder="Enter Last name" required >
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="age">Age:</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="lastname" ng-model="customer.age" placeholder="age" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="city">Select city:</label>
						<select class="form-control"  ng-model="customer.city" class="form-control" id="city" required>
							<option ng-repeat="city in cities">{{city}}</option>

						</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="Profession">Select Profession:</label>
						<select class="form-control" ng-model="customer.profession" class="form-control" id="Profession" required>
							<option ng-repeat="profession in professions">{{profession}}</option>

						</select>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="mobile"  >Mobile number:</label>
						<div class="col-sm-9">
							<input type="number" ng-pattern="/^[0-9]{1,10}$/" ng-minlength="10" ng-maxlength="10"ng-model="customer.mobile" class="form-control col-sm-9" id="mobile" placeholder="Enter 10 digit mobile no." required	>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-4">
							<button ng-click="advance()" ng-disabled="firstform.$invalid" class="btn btn-default">Next</button>
						</div>
						<div class="col-sm-offset-2 col-sm-4">
							<button  class="btn btn-default" ng-click="reset()">Reset</button>
						</div>
					</div>
				</form>

			</div>
			<div ng-switch-when="2" ng-controller="secondformCtrl">
				<p>Hello {{customer.firstname}}</p>
				<form class="form-horizontal" name="secondform" role="form">

					<div class="form-group">
						<label class="control-label col-sm-3" for="pan">PAN no:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="pan" ng-model="customer.pan" placeholder="Enter PAN">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="income" >Gross Annual Income:</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="income" ng-model="customer.income" placeholder="Enter Gross Annual Income">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="company" >Company:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="company" ng-model="customer.company"placeholder="Enter Company name">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="designation">Select Designation:</label>
						<select class="form-control" class="form-control" ng-model="customer.designation" id="designation">
							<option ng-repeat="designation in designations">{{designation}}</option>

						</select>
					</div>
					<div class = "form-group">

						<label class="control-label col-sm-3" for = "address">Address:</label>
						<textarea class = "form-control" ng-model="customer.address" id = "address" rows = "3"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="pin">PIN code:</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" ng-model="customer.pin" id="pin" placeholder="Enter PIN">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-4">
							<button  ng-click="advance()" ng-disabled="secondform.$invalid" class="btn btn-default">Next</button>
						</div>
						<div class="col-sm-offset-2 col-sm-4">
							<button ng-click="previous()"  class="btn btn-default">Previous</button>
						</div>
						<div class="col-sm-offset-2 col-sm-4">
							<button ng-click="reset()" class="btn btn-default">Reset</button>
						</div>
					</div>
				</form>
			</div>

			<div ng-switch-when="3" ng-controller="thirdformCtrl">
				<p>Hello {{customer.firstname}}</p>
				<form class="form-horizontal" name="thirdform" role="form">
					<div class="form-group">
						<label class="control-label" for="accounttype">Select Account Type:</label>
						<select class="form-control" ng-model="customer.accountType" class="form-control" id="accounttype">
							<option ng-repeat="account in accounts">{{account}}</option>

						</select>
					</div>
					<div class="form-group">
						<div class = "radio">
							<label class="control-label col-sm-10"  for="fixeddep">
								Apply	for	Fixed	deposit
							</label>
							<div class="col-sm-2"><input type = "checkbox" ng-model="customer.fdCheck" name = "fixeddep" id = "fixeddep" value = "fd"></div>

						</div>
					</div>
					<div class="form-group">
						<div class = "radio">

							<label  class="control-label col-sm-10" for="creditcards">
								Holding any credit	cards from ABC bank
							</label>
							<div class="col-sm-2">  <input ng-model="customer.creditcardCheck"  type = "checkbox"  name = "creditcards" id = "creditcards" value = "cd"></div>

						</div>
					</div>
					<div class="form-group">
						<div class = "radio">
							<label class="control-label col-sm-10"   for="terms">
								I  Agree to Terms & Conditions
							</label>
							<div class="col-sm-2"><input  type = "checkbox" name = "terms" id = "terms" value = "agree" required></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-4">
							<button ng-click="sendPost()" type ="submit" ng-disabled="thirdform.$invalid" class="btn btn-default">Apply</button>
						</div>
						<div class="col-sm-offset-2 col-sm-4">
							<button ng-click="previous()"  class="btn btn-default">Previous</button>
						</div>
						<div class="col-sm-offset-2 col-sm-4">
							<button  ng-click="reset()" class="btn btn-default">Reset</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="debug" ng-controller="DebugCtrl">
      <pre >
      {{customer | json}}
      </pre>
		</div>
	</div>

</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script type="text/javascript" src="js/angular-resource.min.js"></script>
<script type="text/javascript" src="js/validate.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>